TRM/Connected Services/WSTRM/sawservices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sawq="com.siebel.analytics.web/query/v1" xmlns:sawsoap="com.siebel.analytics.web/soap/v5" xmlns:sawexpr="com.siebel.analytics.web/expression/v1" elementFormDefault="qualified" targetNamespace="com.siebel.analytics.web/soap/v5" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SAWLocale">
    <xsd:sequence>
      <xsd:element name="language" nillable="true" type="xsd:string" />
      <xsd:element name="country" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogonParameter">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SAWSessionParameters">
    <xsd:sequence>
      <xsd:element name="locale" nillable="true" type="sawsoap:SAWLocale" />
      <xsd:element name="userAgent" nillable="true" type="xsd:string" />
      <xsd:element name="features" nillable="true" type="xsd:string" />
      <xsd:element name="asyncLogon" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="logonParams" nillable="true" type="sawsoap:LogonParameter" />
      <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReportRef">
    <xsd:sequence>
      <xsd:element name="reportPath" nillable="true" type="xsd:string" />
      <xsd:element name="reportXml" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Variable">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="value" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReportParams">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="filterExpressions" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="variables" type="sawsoap:Variable" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="nameValues" type="sawsoap:NameValuePair" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="templateInfos" type="sawsoap:TemplateInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NameValuePair">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TemplateInfoInstance">
    <xsd:sequence>
      <xsd:element name="instanceName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="nameValues" type="sawsoap:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TemplateInfo">
    <xsd:sequence>
      <xsd:element name="templateForEach" type="xsd:string" />
      <xsd:element name="templateIterator" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="instance" type="sawsoap:TemplateInfoInstance" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NameValueArrayPair">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="values" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ItemInfoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Folder" />
      <xsd:enumeration value="Link" />
      <xsd:enumeration value="Object" />
      <xsd:enumeration value="Missing" />
      <xsd:enumeration value="NoAccess" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ItemInfo">
    <xsd:annotation>
      <xsd:documentation>
            attributes field value is  a combination of the following flags:
            1 - read only,
            2 - archive,
            4 - hidden,
            8 - system
         </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="path" type="xsd:string" />
      <xsd:element name="type" type="sawsoap:ItemInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="caption" nillable="true" type="xsd:string" />
      <xsd:element name="attributes" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastModified" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="created" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="accessed" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="signature" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="targetPath" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="itemProperties" type="sawsoap:NameValuePair" />
      <xsd:element minOccurs="0" maxOccurs="1" name="acl" nillable="true" type="sawsoap:ACL" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Account">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="accountType" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccessControlToken">
    <xsd:annotation>
      <xsd:documentation>
permissionMask field value is  combination of the following flags:
1 permission to read items content
2 permission to traverse directory
4 permission to change items content
8 permission to delete an item
16 permission to assign permissions to others
32 can take ownership of the item
   </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="account" type="sawsoap:Account" />
      <xsd:element name="permissionMask" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ACL">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="accessControlTokens" type="sawsoap:AccessControlToken" />
      <xsd:element minOccurs="0" maxOccurs="1" name="owner" nillable="true" type="sawsoap:Account" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Privilege">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UpdateACLMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ReplaceAcl" />
      <xsd:enumeration value="ReplaceForSpecifiedAccounts" />
      <xsd:enumeration value="DeleteAccountsFromAcl" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="UpdateACLParams">
    <xsd:sequence>
      <xsd:element name="allowUnknownAccounts" type="xsd:boolean" />
      <xsd:element name="updateFlag" type="sawsoap:UpdateACLMode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getGlobalPrivileges">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGlobalPrivilegesResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="sawPrivileges" type="sawsoap:Privilege" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGlobalPrivilegeACL">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="privilegeName" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGlobalPrivilegeACLResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="acl" type="sawsoap:ACL" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateGlobalPrivilegeACL">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="privilegeName" type="xsd:string" />
        <xsd:element name="acl" type="sawsoap:ACL" />
        <xsd:element minOccurs="0" maxOccurs="1" name="updateACLParams" nillable="true" type="sawsoap:UpdateACLParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateGlobalPrivilegeACLResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="forgetAccount">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="account" type="sawsoap:Account" />
        <xsd:element name="cleanuplevel" type="xsd:int" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="forgetAccountResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="renameAccount">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="from" type="xsd:string" />
        <xsd:element name="to" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="renameAccountResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getPermissions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="acl" type="sawsoap:ACL" />
        <xsd:element name="account" type="sawsoap:Account" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getPermissionsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:int" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccountsFilter">
    <xsd:sequence>
      <xsd:element name="includeUsers" type="xsd:boolean" />
      <xsd:element name="includeGroups" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getCatalogAccountsDatabase">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="accountsFilter" nillable="true" type="sawsoap:AccountsFilter" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCatalogAccountsDatabaseResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="account" type="sawsoap:Account" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createAccount">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="account" type="sawsoap:Account" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createAccountResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="joinGroup">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="group" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="member" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="joinGroupResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="leaveGroup">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="group" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="member" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="leaveGroupResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGroups">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="member" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getGroupsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="account" type="sawsoap:Account" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMembers">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="group" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getMembersResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="account" type="sawsoap:Account" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="isMember">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="group" type="xsd:string" />
        <xsd:element name="member" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="isMemberResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="result" type="xsd:boolean" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AuthResult">
    <xsd:sequence>
      <xsd:element name="sessionID" type="xsd:string" />
      <xsd:element name="authCompleted" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SessionEnvironment">
    <xsd:sequence>
      <xsd:element name="userName" type="xsd:string" />
      <xsd:element name="homeDirectory" type="sawsoap:ItemInfo" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="sharedDirectories" type="sawsoap:ItemInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="logon">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" nillable="true" type="xsd:string" />
        <xsd:element name="password" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="logonResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="logonex">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" nillable="true" type="xsd:string" />
        <xsd:element name="password" nillable="true" type="xsd:string" />
        <xsd:element name="sessionparams" nillable="true" type="sawsoap:SAWSessionParameters" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="logonexResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:AuthResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="logoff">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="logoffResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="keepAlive">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="keepAliveResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCurUser">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCurUserResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSessionEnvironment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSessionEnvironmentResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:SessionEnvironment" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="impersonate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" nillable="true" type="xsd:string" />
        <xsd:element name="password" nillable="true" type="xsd:string" />
        <xsd:element name="impersonateID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="impersonateResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="impersonateex">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string" />
        <xsd:element name="password" type="xsd:string" />
        <xsd:element name="impersonateID" type="xsd:string" />
        <xsd:element name="sessionparams" nillable="true" type="sawsoap:SAWSessionParameters" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="impersonateexResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:AuthResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="XMLQueryOutputFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SAWRowsetData" />
      <xsd:enumeration value="SAWRowsetSchema" />
      <xsd:enumeration value="SAWRowsetSchemaAndData" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="getResults">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="report" type="sawsoap:ReportRef" />
        <xsd:element name="outputFormat" type="xsd:string" />
        <xsd:element name="encodeInString" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportParams" type="sawsoap:ReportParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getResultsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:anyType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="XMLQueryExecutionOptions">
    <xsd:sequence>
      <xsd:element name="async" type="xsd:boolean" />
      <xsd:element name="maxRowsPerPage" type="xsd:int" />
      <xsd:element name="refresh" type="xsd:boolean" />
      <xsd:element name="presentationInfo" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="type" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryResults">
    <xsd:sequence>
      <xsd:element name="rowset" type="xsd:string" />
      <xsd:element name="queryID" type="xsd:string" />
      <xsd:element name="finished" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="executeXMLQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="report" type="sawsoap:ReportRef" />
        <xsd:element name="outputFormat" type="sawsoap:XMLQueryOutputFormat" />
        <xsd:element minOccurs="0" maxOccurs="1" name="executionOptions" nillable="true" type="sawsoap:XMLQueryExecutionOptions" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportParams" nillable="true" type="sawsoap:ReportParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="executeXMLQueryResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:QueryResults" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="executeSQLQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sql" type="xsd:string" />
        <xsd:element name="outputFormat" type="sawsoap:XMLQueryOutputFormat" />
        <xsd:element minOccurs="0" maxOccurs="1" name="executionOptions" nillable="true" type="sawsoap:XMLQueryExecutionOptions" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="executeSQLQueryResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:QueryResults" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="fetchNext">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="queryID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="fetchNextResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:QueryResults" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelQuery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="queryID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelQueryResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="ReportHTMLLinksMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SamePage" />
      <xsd:enumeration value="NewPage" />
      <xsd:enumeration value="InPlace" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ReportHTMLOptions">
    <xsd:sequence>
      <xsd:element name="enableDelayLoading" type="xsd:boolean" />
      <xsd:element name="linkMode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StartPageParams">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="idsPrefix" nillable="true" type="xsd:string" />
      <xsd:element default="false" name="dontUseHttpCookies" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="startPage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="options" nillable="true" type="sawsoap:StartPageParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="startPageResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="endPage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pageID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="endPageResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="addReportToPage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pageID" type="xsd:string" />
        <xsd:element name="reportID" type="xsd:string" />
        <xsd:element name="report" type="sawsoap:ReportRef" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportViewName" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportParams" nillable="true" type="sawsoap:ReportParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="options" nillable="true" type="sawsoap:ReportHTMLOptions" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="addReportToPageResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHeadersHtml">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pageID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHeadersHtmlResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCommonBodyHtml">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pageID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCommonBodyHtmlResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHtmlForReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pageID" type="xsd:string" />
        <xsd:element name="pageReportID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHtmlForReportResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setBridge">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="bridge" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setBridgeResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHtmlForPageWithOneReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="reportID" type="xsd:string" />
        <xsd:element name="report" type="sawsoap:ReportRef" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportViewName" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportParams" nillable="true" type="sawsoap:ReportParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportOptions" nillable="true" type="sawsoap:ReportHTMLOptions" />
        <xsd:element minOccurs="0" maxOccurs="1" name="pageParams" nillable="true" type="sawsoap:StartPageParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHtmlForPageWithOneReportResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="ErrorDetailsLevel">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ErrorCode" />
      <xsd:enumeration value="ErrorCodeAndText" />
      <xsd:enumeration value="FullDetails" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ErrorInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="code" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="context" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="message" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="details" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogObject">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="catalogObject" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="itemInfo" nillable="true" type="sawsoap:ItemInfo" />
      <xsd:element minOccurs="0" maxOccurs="1" name="errorInfo" nillable="true" type="sawsoap:ErrorInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="deleteItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeFolder">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="recursive" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createFolder">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="createIfNotExists" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createLink">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="pathTarget" type="xsd:string" />
        <xsd:element name="overwriteIfExists" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="voidType">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createFolderResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteItemResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeFolderResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="moveItemResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="copyItemResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createLinkResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setItemPropertyResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="moveItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pathSrc" type="xsd:string" />
        <xsd:element name="pathDest" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="flagACL" type="xsd:int" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="copyItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pathSrc" type="xsd:string" />
        <xsd:element name="pathDest" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="flagACL" type="xsd:int" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="copyItem2">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="path" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="recursive" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="permissions" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="timestamps" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="copyItem2Result">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="archive" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="pasteItem2">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="archive" type="xsd:string" />
        <xsd:element name="replacePath" type="xsd:string" />
        <xsd:element name="flagACL" type="xsd:int" />
        <xsd:element name="flagOverwrite" type="xsd:int" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="pasteItem2Result">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetSubItemsFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="itemInfoFilters" nillable="true" type="sawsoap:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetSubItemsParams">
    <xsd:sequence>
      <xsd:element name="filter" nillable="true" type="sawsoap:GetSubItemsFilter" />
      <xsd:element name="includeACL" type="xsd:boolean" />
      <xsd:element name="withPermission" type="xsd:int" />
      <xsd:element name="withPermissionMask" type="xsd:int" />
      <xsd:element name="withAttributes" type="xsd:int" />
      <xsd:element name="withAttributesMask" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getSubItems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="mask" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="options" nillable="true" type="sawsoap:GetSubItemsParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSubItemsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="itemInfo" type="sawsoap:ItemInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getItemInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getItemInfoResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:ItemInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="readObject">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="readObjectResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="sawsoap:CatalogObject" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="readObjects">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="paths" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="errorMode" type="sawsoap:ErrorDetailsLevel" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="readObjectsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="catalogObject" type="sawsoap:CatalogObject" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeObjects">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="catalogObjects" type="sawsoap:CatalogObject" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element name="errorMode" type="sawsoap:ErrorDetailsLevel" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeObjectsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="errorInfo" type="sawsoap:ErrorInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeObject">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="obj" type="sawsoap:CatalogObject" />
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeObjectResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="obj" type="sawsoap:CatalogObject" />
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeReportResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeDashboard">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="obj" type="sawsoap:CatalogObject" />
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeDashboardResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeDashboardPage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="obj" type="sawsoap:CatalogObject" />
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeDashboardPageResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeDashboardPrompt">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="obj" type="sawsoap:CatalogObject" />
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeDashboardPromptResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeSavedFilter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="obj" type="sawsoap:CatalogObject" />
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="resolveLinks" type="xsd:boolean" />
        <xsd:element name="allowOverwrite" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeSavedFilterResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="UpdateCatalogItemACLParams">
    <xsd:complexContent mixed="false">
      <xsd:extension base="sawsoap:UpdateACLParams">
        <xsd:sequence>
          <xsd:element name="recursive" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="updateCatalogItemACL">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element name="acl" type="sawsoap:ACL" />
        <xsd:element name="options" type="sawsoap:UpdateCatalogItemACLParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateCatalogItemACLResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="takeOwnership">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="path" type="xsd:string" />
        <xsd:element name="name" type="xsd:string" />
        <xsd:element name="recursive" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="takeOwnershipResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setItemAttributes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="path" type="xsd:string" />
        <xsd:element name="value" type="xsd:int" />
        <xsd:element name="valueOff" type="xsd:int" />
        <xsd:element name="recursive" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setItemAttributesResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setItemProperty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="path" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="name" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" nillable="true" type="xsd:string" />
        <xsd:element name="recursive" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="applyReportParams">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="reportRef" type="sawsoap:ReportRef" />
        <xsd:element name="reportParams" type="sawsoap:ReportParams" />
        <xsd:element name="encodeInString" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="applyReportParamsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:anyType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="generateReportSQL">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="reportRef" type="sawsoap:ReportRef" />
        <xsd:element minOccurs="0" maxOccurs="1" name="reportParams" nillable="true" type="sawsoap:ReportParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="generateReportSQLResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SAWException">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="exception" type="sawsoap:SAWException" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JobInfo">
    <xsd:sequence>
      <xsd:element name="jobStats" type="sawsoap:JobStats" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="fileInfo" type="sawsoap:FileInfo" />
      <xsd:element minOccurs="0" maxOccurs="1" name="detailedInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JobStats">
    <xsd:sequence>
      <xsd:element name="jobID" type="xsd:integer" />
      <xsd:element name="jobType" type="xsd:string" />
      <xsd:element name="jobUser" type="xsd:string" />
      <xsd:element name="jobState">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Running" />
            <xsd:enumeration value="Finished" />
            <xsd:enumeration value="Error" />
            <xsd:enumeration value="Queued" />
            <xsd:enumeration value="Cancelled" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="jobTotalMilliSec" type="xsd:string" />
      <xsd:element name="jobStartedTime" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="jobFinishedTime" type="xsd:dateTime" />
      <xsd:element name="jobIsCancelling" type="xsd:string" />
      <xsd:element name="exception" type="sawsoap:SAWException" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FileInfo">
    <xsd:sequence>
      <xsd:element name="filepath" type="xsd:string" />
      <xsd:element name="startTime" type="xsd:dateTime" />
      <xsd:element name="endTime" type="xsd:dateTime" />
      <xsd:element name="filesize" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="fileAttribs" type="sawsoap:NameValueArrayPair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="OverrideType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Default" />
      <xsd:enumeration value="None" />
      <xsd:enumeration value="All" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SegmentationOptions">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" default="false" name="removeCacheHits" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" default="Default" name="countOverride" type="sawsoap:OverrideType" />
      <xsd:element minOccurs="0" maxOccurs="1" default="Default" name="cacheOverride" type="sawsoap:OverrideType" />
      <xsd:element minOccurs="0" maxOccurs="1" default="100" name="samplingFactor" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="govRules" type="sawsoap:NameValuePair" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="prompts" type="sawsoap:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TreeNodePath">
    <xsd:sequence>
      <xsd:element name="treePath" type="xsd:string" />
      <xsd:element name="treeNode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="writeListFiles">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="report" type="sawsoap:ReportRef" />
        <xsd:element minOccurs="0" name="reportParams" type="sawsoap:ReportParams" />
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="treeNodePath" type="sawsoap:TreeNodePath" />
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentationOptions" type="sawsoap:SegmentationOptions" />
        <xsd:element name="filesystem" type="xsd:string" />
        <xsd:element name="timeout" type="xsd:integer" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="writeListFilesResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getJobInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobID" type="xsd:integer" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getJobInfoResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelJob">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobID" type="xsd:integer" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelJobResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCounts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="treePath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentationOptions" type="sawsoap:SegmentationOptions" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCountsResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="purgeCache">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="treePath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" default="false" name="ignoreCacheRef" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="purgeCacheResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="prepareCache">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="treePath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" default="false" name="refresh" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="prepareCacheResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="saveResultSet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="treeNodePath" type="sawsoap:TreeNodePath" />
        <xsd:element minOccurs="0" maxOccurs="1" name="savedSegmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentationOptions" type="sawsoap:SegmentationOptions" />
        <xsd:element minOccurs="0" maxOccurs="1" name="SRCustomLabel" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" default="false" name="appendStaticSegment" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="saveResultSetResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="arrayOfGUIDs">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="GUID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="deleteResultSet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="targetLevel" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="GUIDs" type="sawsoap:arrayOfGUIDs" />
        <xsd:element minOccurs="0" maxOccurs="1" name="segmentPath" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteResultSetResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="jobInfo" type="sawsoap:JobInfo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ImportError">
    <xsd:sequence>
      <xsd:element name="item" type="xsd:string" />
      <xsd:element name="operation" type="xsd:string" />
      <xsd:element name="file" type="xsd:string" />
      <xsd:element name="line" type="xsd:integer" />
      <xsd:element name="catalogError" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogItemsFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="items" type="xsd:string" />
      <xsd:element name="from" type="xsd:dateTime" />
      <xsd:element name="to" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PathMapEntry">
    <xsd:sequence>
      <xsd:element name="source" type="xsd:string" />
      <xsd:element name="destination" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PathMap">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="pathMapEntries" type="sawsoap:PathMapEntry" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ExportFlags">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="processAll_ForMerge" />
      <xsd:enumeration value="processAll_ForReplace" />
      <xsd:enumeration value="processAll_ForWriteIfNotExists" />
      <xsd:enumeration value="processLocalChanges" />
      <xsd:enumeration value="processRemoteChanges" />
      <xsd:enumeration value="processAllChanges" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ImportFlags">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="processLocalChanges" />
      <xsd:enumeration value="processRemoteChanges" />
      <xsd:enumeration value="processAllChanges" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="export">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="filename" type="xsd:string" />
        <xsd:element name="filter" type="sawsoap:CatalogItemsFilter" />
        <xsd:element name="flag" type="sawsoap:ExportFlags" />
        <xsd:element default="true" name="exportSecurity" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="exportResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="import">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="filename" type="xsd:string" />
        <xsd:element name="flag" type="sawsoap:ImportFlags" />
        <xsd:element name="lastPurgedLog" type="xsd:dateTime" />
        <xsd:element name="updateReplicationLog" type="xsd:boolean" />
        <xsd:element name="returnErrors" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="filter" type="sawsoap:CatalogItemsFilter" />
        <xsd:element minOccurs="0" maxOccurs="1" name="pathMap" type="sawsoap:PathMap" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="importResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="error" type="sawsoap:ImportError" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="markForReplication">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="item" type="xsd:string" />
        <xsd:element name="replicate" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="markForReplicationResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="purgeLog">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="items" type="xsd:string" />
        <xsd:element name="timestamp" type="xsd:dateTime" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="purgeLogResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="SATableDetails">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Minimum" />
      <xsd:enumeration value="IncludeColumns" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SASubjectAreaDetails">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Minimum" />
      <xsd:enumeration value="IncludeTables" />
      <xsd:enumeration value="IncludeTablesAndColumns" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AggregationRule">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None" />
      <xsd:enumeration value="Sum" />
      <xsd:enumeration value="Count" />
      <xsd:enumeration value="Rank" />
      <xsd:enumeration value="Avg" />
      <xsd:enumeration value="Min" />
      <xsd:enumeration value="Max" />
      <xsd:enumeration value="Last" />
      <xsd:enumeration value="Percentile" />
      <xsd:enumeration value="First" />
      <xsd:enumeration value="ServerDefault" />
      <xsd:enumeration value="CountStar" />
      <xsd:enumeration value="Complex" />
      <xsd:enumeration value="TopN" />
      <xsd:enumeration value="BottomN" />
      <xsd:enumeration value="SubTotal" />
      <xsd:enumeration value="DimensionAggr" />
      <xsd:enumeration value="CountDistinct" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SADataType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Invalid" />
      <xsd:enumeration value="Unknown" />
      <xsd:enumeration value="VarBinary" />
      <xsd:enumeration value="LongVarBinary" />
      <xsd:enumeration value="Binary" />
      <xsd:enumeration value="Char" />
      <xsd:enumeration value="VarChar" />
      <xsd:enumeration value="LongVarChar" />
      <xsd:enumeration value="Date" />
      <xsd:enumeration value="Time" />
      <xsd:enumeration value="TimeStamp" />
      <xsd:enumeration value="Numeric" />
      <xsd:enumeration value="Decimal" />
      <xsd:enumeration value="Integer" />
      <xsd:enumeration value="SmallInt" />
      <xsd:enumeration value="BigInt" />
      <xsd:enumeration value="TinyInt" />
      <xsd:enumeration value="Bit" />
      <xsd:enumeration value="Float" />
      <xsd:enumeration value="Real" />
      <xsd:enumeration value="Double" />
      <xsd:enumeration value="Coordinate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SAColumn">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="displayName" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="nullable" type="xsd:boolean" />
      <xsd:element name="dataType" type="xsd:string" />
      <xsd:element name="aggregatable" type="xsd:boolean" />
      <xsd:element name="aggrRule" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SATable">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="displayName" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="columns" nillable="true" type="sawsoap:SAColumn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SASubjectArea">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="displayName" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="tables" nillable="true" type="sawsoap:SATable" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getSubjectAreas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSubjectAreasResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="subjectArea" type="sawsoap:SASubjectArea" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="describeSubjectArea">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="subjectAreaName" type="xsd:string" />
        <xsd:element name="detailsLevel" type="sawsoap:SASubjectAreaDetails" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="describeSubjectAreaResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="subjectArea" type="sawsoap:SASubjectArea" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="describeTable">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="subjectAreaName" type="xsd:string" />
        <xsd:element name="tableName" type="xsd:string" />
        <xsd:element name="detailsLevel" type="sawsoap:SATableDetails" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="describeTableResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="table" type="sawsoap:SATable" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="describeColumn">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="subjectAreaName" type="xsd:string" />
        <xsd:element name="tableName" type="xsd:string" />
        <xsd:element name="columnName" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="describeColumnResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="column" type="sawsoap:SAColumn" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="executeIBotNow">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="sessionID" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="executeIBotNowResult">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>